langchain
langgraph
langchain-community
langchain-core
langchain-openai
langchain-groq
python-dotenv
pydantic
faiss-cpu
langchain-text-splitters
ipykernel
beautifulsoup4
wikipedia
arxiv
pymupdf
gradio
elevenlabs
requests
soundfile
pypdf
langchain-mcp-adapters
mcp
# anthropic-mcp
gradio[mcp]
asyncio
httpx 
langgraph-cli[inmem]
langchain-tavily
langgraph_supervisor
langchain-experimental
langchain-hub
langchain-community
sentence-transformers
neo4j
